
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}
body{
    background-color: #DCDCDC;
}
.container{
    display: grid;
    grid-template-columns: 200px 3fr; 
    grid-template-areas:
    'nav  head'
    'nav head'
    'nav main'
    'nav main'
    'nav main'
    'nav main';
}
/* nav bar */
nav {
    color:white;
    background-color: black;
    opacity: 0.6;
    display: inline-block;
   
    padding:10px;
    border-radius: 15px;
    height: 100vh;
   grid-area: nav;
}
nav p{
    padding-top:10px;
}
/* header */
header{
   grid-area: head;
}
header .head_div{
    height:100px;
    width:95%;
    background-color: black;
    margin-left:5%;
    border-radius: 10px;
    margin-top:30px;
    opacity: 0.7;
}
header .head_div h1{
    display: inline-block;
    color:white;
    padding:30px;
    letter-spacing: 3px;
}
/* Buttons */
.button {
    
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 15px;
    outline: none;
   
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
  }
  .remove_day {
    
    background-color: rgb(138, 14, 14);
    
  }
  
  .remove_day:hover {background-color: #520d0d}
  
  .remove_day:active {
    background-color: #520d0d;
  }

  .update_table {
    
    background-color: rgb(14, 37, 138);
    
  }
  
  .update_table:hover {background-color: #060750}
  
  .update_table:active {
    background-color: #060750;
  }
/* main tabel */
main{
   grid-area: main;
}
.main_container{
    margin-left:5%;
    display: flex;
    height:500px;
    flex-flow:column wrap;
}
.main_container div {
    background-color:	#778899;
    color:white;
    text-align: center;
    height:28px;
    margin:1px;
    

}
.main_container .avarage_title{
    height:30px;
    

}
.main_container .avarage_title h1{
   font-size:16px;
  
}
.main_container .avarage{
    background-color:	#008B8B;
    grid-column: 2;
}

#flex_box{
    display: flex;
    height:510px;
    width: 70%;
    overflow-x: scroll;
    flex-flow:column wrap;
    /* align-items: flex-start;*/
  justify-content: left; 
}
.main_container #flex_box{
    background-color: #DCDCDC;
    padding:0;
}
#flex_box .box{
     /* align-self: start;  */
    background-color: red;
    text-align: center;
    margin:1px;
   height:27.8px;
   cursor:pointer;
}
#flex_box .lesson_days{
    height:27.8px;
    background-color: #008B8B;;
    text-align: center;
    margin:0.5px;
}
 /* main .scroll{
    width:800px;
    overflow-x: scroll;
} */
@media only screen and (max-width: 880px){

    .container{
        display: grid;
        grid-template-columns: 200px 3fr; 
        grid-template-rows: 90px 90px 90px 250px 250px 200px;
        grid-template-areas:
        'head  head'
        'head head'
        'head head'
        'main main'
        'main main'
        'nav nav';
    }

    header .head_div{
        height:270px;
        width:100%;
        background-color: black;
        margin:0;
        border-radius: 10px;
        opacity: 0.7;
        text-align: center;
    }
    header .head_div h1{
        display: block;
        color:white;
        padding:5px;
        letter-spacing: 3px;
    }

.head_div .button{  
    padding: 7px 20px;
    font-size: 18px;
    margin-left: 0;
    margin-top:20px;
    display: block;
}
.container nav{
    height: 200px;
}
.main_container{
    margin-top:5px;
    margin-left:0;
    padding: 0;
}
}
/* js box styles */
/* .main_container #box1{
    grid-row: 2;
}
.main_container #box2{
    grid-row: 3;
}
.main_container #box3{
    grid-row: 4;
}
.main_container #box4{
    grid-row: 5;
}
.main_container #box5{
    grid-row: 6;
}
.main_container #box6{
    grid-row: 7;
}
.main_container #box7{
    grid-row: 8;
}
.main_container #box8{
    grid-row: 9;
}
.main_container #box9{
    grid-row: 10;
}
.main_container #box10{
    grid-row: 11;
}
.main_container #box11{
    grid-row: 12;
}
.main_container #box12{
    grid-row: 13;
}
.main_container #box13{
    grid-row: 14;
}
.main_container #box14{
    grid-row: 15;
}
.main_container #box15{
    grid-row: 16;
} */
