*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* header */

header{
    height:30vh;
    border: 2px solid black;
}

/* main */
div{
    float:left;
   height: 50vh;
   width:25%;
   border: 2px solid grey;
}
.main_div{
    float:left;
    height: 50vh;
    width: 50%;
    border: 2px solid grey;
 
}
.main-section{
    height: 10vh;
    border: 2px solid grey;
    width:100%;
}
/* footer */
footer{
    clear:left;
    height: 20vh;
    border: 2px solid black;
}