#colors>div{
 display: inline-block;
 
}
#colors{
    height:150px;
    width:600px;
    margin-left:30%;
}
#red{
    width:100px;
    height:100px;
    background-color:red;
    border-radius:50%;
    margin: 15px;
}
#yellow{
    width:100px;
    height:100px;
    background-color:yellow;
    border-radius:50%;
    margin: 15px;
}
#green{
    width:100px;
    height:100px;
    background-color:green;
    border-radius:50%;
    margin: 15px;
}
#pink{
    width:100px;
    height:100px;
    background-color:pink;
    border-radius:50%;
    margin: 15px;
}
#transformer{
    width:200px;
    height:200px;
    background-color: palegreen;
    border-radius: 35px;
    margin-left:150px;

}
#red:hover ~ #transformer{
    background-color: red;
}
#yellow:hover ~ #transformer{
    background-color: yellow;
}
#green:hover ~ #transformer{
    background-color:green;
}
#pink:hover ~ #transformer{
    background-color:pink;
}